<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', { title: "Category"}) %>
  <body>
    <div class="container">
      <h1 class="my-4 d-flex justify-content-between align-items-center">
        My Recipes
        <a href="/recipes/new" class="btn btn-success"
          ><i class="fa fa-plus mx-1"></i> New Recipe
        </a>
      </h1>
      <h3 class="mt-5">Categories</h3>
      <div class="mb-5">
        <%- include('../partials/categories', { categories: categories }) %>
      </div>
      <h3><%= cat.name %></h3>
      <% if (recipes.length > 0) { %> <% recipes.forEach(recipe => { %>
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title"><%= recipe.title %></h4>
          <div class="card-subtitle text-muted mb-2">
            <%= recipe.createdAt.toLocaleDateString() %>
          </div>
          <div class="card-text mb-2"><%= recipe.description %></div>
          <a href="/recipes/<%= recipe.slug %>" class="btn btn-primary"
            ><i class="fa fa-align-justify mx-1"></i> Read More</a
          >
          <a href="/recipes/edit/<%= recipe.id %>" class="btn btn-info"
            ><i class="fa fa-edit mx-1"></i> Edit</a
          >
          <form
            action="/recipes/<%= recipe.id %>?_method=DELETE"
            method="POST"
            class="d-inline"
          >
            <button type="submit" class="btn btn-danger">
              <i class="fa fa-minus mx-1"></i> Delete
            </button>
          </form>
        </div>
      </div>
      <% }) %> <% } else { %>
      <div class="alert alert-primary my-3">No Entries found</div>
      <% } %>
      <div>
        <a href="/" class="btn btn-secondary"
          ><i class="fa fa-arrow-left mx-1"></i>Back</a
        >
      </div>
    </div>
  </body>
</html>
