<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', { title: "My Recipes"})%>
  <body>
    <div class="container">
      <h1 class="mb-4">My Recipes</h1>
      <a href="/recipes/new" class="btn btn-success">New Recipe</a>

      <h3 class="mt-3">Categories</h3>
      <a href="/recipes/new" class="btn btn-success">New Category</a>
      <% recipes.forEach(recipe => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title"><%= recipe.title %></h4>
          <div class="card-subtitle text-muted mb-2">
            <%= recipe.createdAt.toLocaleDateString() %>
          </div>
          <div class="card-text mb-2"><%= recipe.description %></div>
          <a href="recipes/<%= recipe.slug %>" class="btn btn-primary"
            >Read More</a
          >
          <a href="recipes/edit/<%= recipe.id %>" class="btn btn-info">Edit</a>
          <form
            action="/recipes/<%= recipe.id %>?_method=DELETE"
            method="POST"
            class="d-inline"
          >
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
