<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', { title: "Show Recipe"}) %>
  <body>
    <div class="container">
      <h1 class="my-4"><%= recipe.title %></h1>
      <div class="text-muted mb-2">
        Recipe Added: <%= recipe.createdAt.toLocaleDateString() %>
      </div>
      <div class="my-3 d-flex justify-content-between">
        <div class="card col">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <div>Prep Time</div>
            <i class="fa fa-clock"></i>
          </div>
          <div class="card-body">
            <% if(recipe.prepTime.length !== 0) { %> <%- recipe.prepTime %> <% }
            else { %> N/A <% } %>
          </div>
        </div>
        <div class="card col mx-3">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <div>Bake Time</div>
            <i class="fa fa-clock"></i>
          </div>
          <div class="card-body">
            <% if(recipe.bakeTime.length !== 0) { %> <%- recipe.bakeTime %> <% }
            else { %> N/A <% } %>
          </div>
        </div>
        <div class="card col">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <div>Bake Temp</div>
            <i class="fa fa-temperature-high"></i>
          </div>
          <div class="card-body">
            <% if(recipe.bakeTemp.length !== 0) { %> <%- recipe.bakeTemp %> <% }
            else { %> N/A <% } %>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <div>Description</div>
          <i class="fa fa-i-cursor mx-1"></i>
        </div>
        <div class="card-body"><%- recipe.description %></div>
      </div>
      <div class="card mb-3">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <div>Ingredients</div>
          <i class="fa-brands fa-markdown mx-1"></i>
        </div>
        <div class="card-body"><%- recipe.sanitizedIngredients %></div>
      </div>
      <div class="card mb-3">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <div>Method</div>
          <i class="fa-brands fa-markdown mx-1"></i>
        </div>
        <div class="card-body"><%- recipe.sanitizedMethod %></div>
      </div>
      <a href="/" class="btn btn-secondary"
        ><i class="fa fa-arrow-left mx-1"></i> Back</a
      >
    </div>
  </body>
</html>
